* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.34;
}

a {
    text-decoration: none;
    color: #385898;
    cursor: pointer;
}

/* Navbar */

#navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: #415e9b;
    color: #fff;
    padding: 0.9rem 0;
    position: relative;
}

.navbar-brand {
    text-decoration: none;
    font-size: 2.875rem;
    color: #fff;
    font-weight: 700;
    margin-left: 5em;
}

#login-form {
    position: absolute;
    top: 0;
    left: 55rem;
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-field-one input,
.input-field-two input {
    display: block;
    margin-top: 0.4em;
    border: 1px solid #1d2a5b;
    padding: 0.1rem;
}

.input-field-one label,
.input-field-two label {
    font-size: 12px;
}

.input-field-one {
    margin-right: 1rem;
}

.forgot {
    position: relative;
    bottom: -0.1rem;
    color: #9cb4d8;
    opacity: 1;
    font-size: 0.75rem;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

.btn {
    background: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccd0d5;
}

.btn-sign-up {
    position: absolute;
    top: 1.5rem;
    right: -3rem;
    font-size: 0.75rem;
    padding: 2px 6px;
    font-weight: bold;
    background: #4267b2;
    border: 1px solid #29487d;
}

.btn-sign-up:hover {
    background: #415e9b;
}

/* MAIN */
.container {
    width: 100%;
    height: 85vh;
    background: linear-gradient(#fff, #D3D8E8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.fb-text {
    max-width: 410px;
    color: #0e385f;
    font-size: 1.25rem;
    font-weight: bold;
    word-spacing: -1px;
    margin-top: 2rem;
    margin-left: 12rem;
}

.fb-connections {
    width: 536px;
    height: 194px;
    justify-content: center;
    margin-left: 12rem;
}

/* Left side of main */
.register {
    color: #333;
    margin-top: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.34;
}

.register-text {
    color: #1d2129;
    font-size: 1.1875rem;
    font-weight: normal;
}

.input-name,
.input-surrname {
    position: relative;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    color: #1c1e21;
    font-size: 1.125rem;
    padding: 0.5rem 0.4rem;
    margin-top: 1rem;
}

.input-email,
.input-password {
    display: block;
    position: relative;
    margin-top: 0.6rem;
    font-size: 1.125rem;
    padding: 8px 10px;
    width: 30.5rem;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

.input-password {
    bottom: 1rem;
}

.danger {
    position: relative;
    right: 2.1rem;
    color: red;
    visibility: hidden;
    cursor: pointer;
}

.sur-danger {
    position: relative;
    right: 2rem;
    color: red;
    visibility: hidden;
    cursor: pointer;
}

.email-danger {
    position: relative;
    bottom: 2rem;
    left: 29rem;
    cursor: pointer;
    color: red;
    visibility: hidden;
}

.pas-danger {
    position: relative;
    bottom: 3rem;
    left: 29rem;
    cursor: pointer;
    color: red;
    visibility: hidden;
}

.settings {
    position: relative;
    bottom: 1rem;
}

.custom {
    display: none;
    margin-top: 1rem;
}

#gender {
    height: 1.875rem;
    margin: 4px 0;
    width: 52%;
    background-color: #fff;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
    padding: 2px;
}

.genderTxt {
    color: #606770;
    font-size: 0.75rem;
}

.optionalG {
    font-size: 18px;
    padding: 8px 10px;
    border-color: 0.1px solid #bdc7d8;
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 52%;
    position: relative;
}

.date,
.gender {
    display: block;
    color: #90949c;
    font-size: 1rem;
    font-weight: bold;
}

.gender {
    margin-top: 1rem;
}

.icons {
    color: #4a4a4a;
    text-decoration: none;
}

#man,
#custom {
    margin-left: 1rem;
}

.agree {
    color: #777;
    font-size: 11px;
    max-width: 329px;
    margin-top: 1rem;
}

.terms,
.data {
    text-decoration: none;
}

.terms:hover,
.data:hover {
    text-decoration: underline;
}

.btn-register {
    font-size: 1.1875rem;
    margin: 0.625rem 0;
    font-weight: bold;
    line-height: 126%;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    margin-top: 1rem;
    margin-bottom: 0;
}

.btn-register:hover {
    background: linear-gradient(#79bc64, #578843);
}

.page {
    color: #385898;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8125rem;
}

.page-text {
    margin-top: 2rem;
    color: #666;
    font-size: 0.8125rem;
    font-weight: bold;
}

/* Footer */
footer {
    padding: 1rem 30rem;
    margin-top: 1.5rem;
    word-spacing: 0.2rem;
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
    position: relative;
}

.link,
.main-links {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.first {
    color: #737373;
}

.links:hover {
    text-decoration: underline;
}

.plus {
    position: absolute;
    margin-left: 0.5rem;
}

.hr {
    color: #dddfe2;
    opacity: 0.5;
    width: 55%;
}

.fb-copy {
    color: #737373;
}

/* Others */
.hide {
    visibility: hidden;
    z-index: -1;
}

#emailPopUp {
    position: relative;
    top: -2rem;
    left: -40rem;
}

#passPopUp {
    position: relative;
    top: -3rem;
    left: -39rem;
}

.popuptext {
    visibility: hidden;
    width: 160px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    left: 38%;
    top: 6.6rem;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -20px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
    transform: rotate(-90deg);
}


.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
